
Body{
Margin: 0;
background-color: #FCF0FC;
}

.container{
Width: 100vw;
Height: 100vh;

Font-family: "quicksand", '"sans-serif";
Font-weight: bold;
Font-size: 20px;

Display: grid;

Grid-template-columns: 1fr 1fr;
Grid-template-rows: 100px 30px 1fr 1fr 150px;

Gap: 0.5px;


Box-sizing: border-box;
}

.container div{
Padding: 10px;
Border: 1px solid #9932CC;}

.header{
Grid-column-start: 1;
Grid-column-end: 3;
Display: inline-block;

}

.header img{
Float: left:
width: 70%;
Height: 100%;
}

.header h1{
Font-family: "sans-serif";
color: #8C069E;
font-size: 60px;
Margin-top: 10px;
Display: inline-block;
Padding-left: 20px;
}

.header p{
Display: inline-block;
Padding-left: 60px;
Font-family: "arial" "Verdana";
Font-size: 20px;
Color:black;
}

.navigation{
Grid-column-start: 1;
Grid-column-end: 3;
Grid-row-start: 2;
Grid-row-end: span 1;
background-Color: #8C069E;
}

.navigation ul {
Overflow: hidden;
Width: 100%;
Border: none;
Float: left;
Text-align: left;
padding: 0;
Margin: 0;
Text-decoration: none;
List-style-type: none;
}

.navigation li{
Float: left;
}

.navigation li a{
Font-family: "arial", "Verdana";
color: #FFFFFF;
padding-right: 20px;
Font-size: 15px;
Text-decoration: none;
Display: block;
}


.navigation a:active{
Background-Color: #F9CCFF;
Text-decoration: underline;

}

.navigation li:hover{
Background-Color: #F9CCFF;
Text-decoration: underline;
}

.placeholder{
Grid-column-start: 1;
Grid-column-end: 3;
Grid row start: 3;
Grid-row-end: span 1;
Text-align: center;
Font-size: 45px;
Color: #8C069E;
}

.contact{
Grid-column-start: 1;
Grid-column-end: span 1;
Grid row start: 4;
Grid-row-end: span 1;
}

.contact h4{
Text-align: center;
Font-Size: 30px;
Color: #8C069E;
}

input[type=text], textarea{
Width: 100%;
Padding: 12px;
Border: 1px solid #ccc;
Border-radius: 4px;
Box-sizing: border-box;
Margin-top: 6px;
Margin-bottom: 16px;
Resize: vertical;
}

input[type=submit]{
Background-color:#E7E7E6;
Font-family: "arial", "Verdana";
Color:#9932CC;
Padding: 12px 20px;
Border: 1px solid black;
Border-radius: 4px;
Cursor: pointer;
Font-size: 20px;

}

input[type=submit]:hover{
Background-color: #9932CC;
Color: #E7E7E6;
}

.details{
Grid-column-start: 2;
Grid-column-end: span 1;
Grid row start: 4;
Grid-row-end: span 1;
}

.details h5{
Text-align: center;
Font-size: 30px;
Color: #8C069E;
}

.details p{
Text-align: left;
Font-size: 20px;
Font-family: "arial" , "Verdana";
}

.footer{
Grid-column-start: 1;
Grid-column-end: 3;
Font-family: "arial", "Verdana";
Display: inline-block;
Text-align: center;

}

.footer h6{
Font-size: 23px;
Font-weight: bold;
Margin-bottom: 0px;
Color: #8C069E;
Margin-top: 0px;
}

.footer p{
Font-size: 17px;
Font-weight: normal; 
margin-top:0px;
}

.button4{
Font-size: 22px;
Text-decoration: none;
Font-family: "arial", "Verdana";
Background-Color: #E7E7E6;
color: #9932CC;
Border: 1px solid black;
display: inline-block;
Margin-top: 5px;
Width: 200px;
Margin-bottom: 5px;
}

.button4:hover{
Background-color: #9932CC;
Color: #E7E7E6;
}